.main-layout{
  margin-bottom 100px
  .route-title{
    color #1a1a1a
    font-weight 550
    font-size 20px
    margin 20px
  }
  .border-box{
    border 1px solid grey
    border-radius 3px
    background-color white
  }
}