.company-route{
  .list-wrapper{

  }
  .company{
    padding 5px
    display inline-block
    width 31.3%
    margin 1%
    height 72px
    vertical-align top
    border 1px solid grey
    border-radius 3px
    cursor pointer
    &:hover{
      background-color darken(white, 3%)
    }
    .ava{
      display inline-block
      vertical-align middle
      width 60px
      margin-right 10px
      img{
        width 100%

      }
    }
    .name{
      display inline-block
      vertical-align middle
      color #1a1a1a
      white-space pre-wrap
      font-weight 550
      font-size 14px
      width calc(100% - 70px)
    }
  }

}