.candidate-route{

  .candidate{
    padding 5px
    display inline-block
    width 31.3%
    margin 1%
    height 72px
    vertical-align top
    cursor pointer
    .ava{
      display inline-block
      vertical-align top
      width 65px
      height 100%
      position relative
      margin-right 12px
      img{
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        max-width 100%

      }

    }
    .details{
      display inline-block
      vertical-align top
      .user-label{
        font-size 15px
        font-weight 550
        overflow hidden
        text-overflow ellipsis
        color tikiblue
      }
      .user-name{
        font-size 15px
        font-weight 550
        color #1a1a1a
        overflow hidden
        text-overflow ellipsis
      }
      .user-ex{
        color #969696
        overflow hidden
        text-overflow ellipsis
        font-size 14px
        span{
          color danger
        }
      }
      width calc(100% - 77px)
    }
  }

}