.login-route-wrapper{
  width 600px
  margin auto
  margin-top 50px
  background-color white
  padding 20px
  label{
    color rgb(74, 74, 74);
    font-size 15px
  }
  .btn-blue{
    font-size 15px
    padding 8px 20px
    width 100%
    margin-top 20px
  }
}