.home-route{

  .job{
    padding 5px
    display inline-block
    width 31.3%
    margin 1%
    height 80px
    vertical-align top
    cursor pointer
    .ava{
      display inline-block
      vertical-align top
      width 65px
      margin-right 12px
      img{
        max-width 100%

      }

    }
    .details{
      display inline-block
      vertical-align top
      .job-label{
        font-size 15px
        font-weight 550
        overflow hidden
        white-space nowrap

        text-overflow ellipsis
        color tikiblue
      }
      .com-name{
        font-size 13px
        color #999
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
      }
      .more{
        overflow hidden
        text-overflow ellipsis
        font-size 12px
        .salary-range{
           color danger
           display inline-block
           vertical-align bottom
           width 120px

         }
        .deadline{
          color #1a1a1a
          display inline-block
          vertical-align bottom

        }
      }
      width calc(100% - 77px)
    }
  }

}