.apply-btn{
  background-color #f9c855
  font-size 15px
  font-weight 550
  color white
  padding 8px 20px
  margin-top 10px
  &.applied-btn{
    background-color success !important
    pointer-events none
  }
  &:not(.applied-btn):hover{
    background-color darken(#f9c855, 10%)
  }
}
.blue-badge{
  background-color rgba(32,160,255,.1)
  border 1px solid rgba(32,160,255,.2)
  border-radius 3px
  color #20a0ff
  font-size 13px
  font-weight 400
  margin-right 6px
}
.job-route{
  .route-wrapper{
    padding 30px 0
    .j-body2{
      vertical-align top
      display inline-block
      width 30%
      padding 20px
      margin-bottom 20px
      background-color white
      border-radius 3px
      .name{
        font-weight 550
        text-align center
        margin-top 15px
        font-size 17px
        color tikiblue
        cursor pointer
        margin-bottom 10px
      }
      .more{
        color rgb(74, 74, 74);
        font-size 15px
        margin-top 6px

        span{
          font-weight 550

        }
      }
      .avatar{
        width 80%
        margin auto
        overflow hidden
        img{
          width 100%

        }
      }
    }
    .j-body
    .j-footer
    {
      vertical-align top
      display inline-block
      width 68%
      margin-right 2%
      padding 20px
      margin-bottom 20px
      background-color white
      border-radius 3px
      .section{
        margin-bottom 20px
        .content{
          &.contact{
            .row{
              margin-bottom 5px !important
            }
            .label{
              color rgb(74, 74, 74);
              font-weight 550
              font-size 14px


            }
            .value{
              color rgb(74, 74, 74);
              font-weight 400
              font-size 14px
            }
          }
          &.text-content{
            font-size 14px
            color rgb(74, 74, 74);
            white-space pre-wrap
          }
          .item{
            margin-top 5px
            .label{
              color rgb(74, 74, 74);
              font-weight 550
              font-size 14px
              margin-right 6px

            }
            .value{
              color rgb(74, 74, 74);
              font-weight 400
              font-size 14px
            }
          }
        }
      }
    }
    .j-header{
      padding 20px
      margin-bottom 20px
      background-color white
      border-radius 3px
      & > div{
        display inline-block
        vertical-align middle
      }
      .detail{
        margin-left 15px
        .name{
          font-size 22px
          color rgb(74, 74, 74);
          font-weight bold
        }
        .more{
          margin-top 5px
          .salary{
            color danger
            font-size 15px
          }
          .deadline{
            font-size 15px

            color #1a1a1a
          }
          .label{
            font-size 16px
            color rgb(74, 74, 74);
            font-weight 550
            margin-right 6px
          }

        }
      }
      .avatar{
        width 200px
        padding 0 10px
        .img-wrapper{
          width 100%
          position relative
          display inline-block
          vertical-align middle
          border 1px solid grey
          border-radius 3px
          overflow hidden
          height 170px
          img{
            position absolute
            top 50%
            left 50%
            max-width 100%
            transform translate(-50%, -50%)

          }
        }
      }
    }
  }
}